body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark gray text */
    padding-bottom: 70px; /* Added padding for fixed footer */
}

header {
    background-color: #FFA500; /* Orange */
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

#products {
    text-align: center;
}

footer {
    background-color: #333; /* Dark gray */
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    header {
        padding: 0.5em 0;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px; /* Add some space below the "Our Menu" title */
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: calc(50% - 40px); /* Two items per row, accounting for margin and padding */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    background-color: white;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.product-item h3 {
    color: #FFA500; /* Orange */
}

.product-item button {
    background-color: #FFA500; /* Orange */
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #e69500; /* Darker orange */
}

/* Responsive adjustments for products */
@media (max-width: 768px) { /* For tablets and larger phones */
    .product-item {
        width: calc(100% - 40px); /* One item per row */
    }
}

#cart-status {
    font-weight: bold;
    background-color: #e69500; /* Darker orange to make it pop a bit */
    padding: 5px 10px;
    border-radius: 5px;
}

.add-to-cart-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
